<div class="page-signin">
<% unless devise_error_messages!.blank? %>
<div class="error-message alert alert-success">
  <%= devise_error_messages! %>
</div>
<% end %>
  <div class="signin-body">
    <div class="container">
      <div class="form-container">
        <h2>Edit registration</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  
          <fieldset>
            <div class="form-group">
              <div class="input-group input-group-lg">
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-user"></span>
                  </span>
                  <%= f.text_field :name, class:"form-control", placeholder:"Name" %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-lg">
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-phone"></span>
                  </span>
                  <%= f.text_field :mobile, class:"form-control", placeholder:"Name" %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-lg">
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-phone"></span>
                  </span>
                  <%= f.text_field :twitterhandle, autocomplete: "off", class:"form-control",placeholder:"Twitter handle" %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group input-group-lg">
                  <span class="input-group-addon">
                      <span class="glyphicon glyphicon-envelope"></span>
                  </span>
                  <%= f.email_field :email, autofocus: true, class:"form-control",placeholder:"Email" %>
                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
                  <% end %>
              </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                      <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder: "New password" %>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                      <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder: "Confirm new password" %>
                </div>
            </div>

            <div class="form-group">
                <div class="input-group input-group-lg">
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-lock"></span>
                    </span>
                      <%= f.password_field :current_password, autocomplete: "off", class:"form-control", placeholder: "Current password" %>
                </div>
            </div>
            <br>
            <div class="form-group">
                <%= f.submit "Update", class: "btn btn-primary btn-lg btn-block btn-purple" %>
            </div>
                     
          </fieldset>
        <% end %>

        <section class="small-links">
          <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), class: "small-link", data: { confirm: "Are you sure?" }, method: :delete %> | <%= link_to "Go back", :back %><br/></p>
        </section>

      </div>
    </div>
  </div>

</div>