<div class="page-signup">

    <div class="signin-header">
        <div class="container text-center">
            <section class="logo">
                <%= image_tag("angry-kitty-logo.png", class: "kitty-logo") %>
            </section>
        </div>
        <div><%= devise_error_messages! %></div>
    </div>

    <div class="signup-body">
        <div class="container">
            <div class="form-container">

                <section>
                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), class:'form-horizontal') do |f| %>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                </span>
                                <%= f.text_field :name, autocomplete: "off", class:"form-control",placeholder:"Full Name" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-phone"></span>
                                </span>
                                <%= f.text_field :mobile, autocomplete: "off", class:"form-control",placeholder:"Mobile" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </span>
                                <%= f.email_field :email, autofocus: true, class:"form-control", placeholder:'Email' %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <%= f.password_field :password, autocomplete: "off", class:"form-control", placeholder:"Password" %>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group input-group-lg">
                                <span class="input-group-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                </span>
                                <%= f.password_field :password_confirmation, autocomplete: "off", class:"form-control", placeholder:"Password confirmation" %>
                            </div>
                        </div>

                        <div class="form-group" id="actual-signup">
                            <p class="text-muted text-small">By clicking on Sign up, you agree to <a href="javascript:;">terms and conditions</a> and <a href="javascript:;">privacy policy</a></p>
                            <div class="divider"></div>
                            <%= f.submit "Sign up", class:"btn btn-primary btn-block btn-lg"%>
                        </div>
 
                    <% end %>
                </section>

                <section>
                  <p class="text-center text-muted">Already have an account? 
                    <%= link_to "Log in now", new_session_path(resource_name) %><br />
                  </p>
                </section>

            </div>
        </div>
    </div>
</div>
