<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Amount</th>
    </tr>
  </thead>
  <tbody>
    <% tabulator(@event, current_user).each do |user| %>
      <tr id="user-<%= user.id.to_s %>">
        <td><p class="render-stuff"> <%= user.name %></p></td>
          <% if user.class == User && user.debts.find_by(event: @event).paid %>
            <td><span class="btn btn-gap btn-success green-button">Paid</span> </td>
          <% elsif user.class == User && !user.debts.find_by(event: @event).paid %>
            <td>
              <% if current_user == user %>
                <%= form_tag charges_path(@user, @event) do %>
                  <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="<%= Rails.application.secrets.stripe_public_key %>"
                        data-description="Pay the kitty."
                        data-amount="<%= @payment_amount %>"></script>
                <% end %>
              <% else %>
                <span class="btn btn-gap btn-danger red-button">Not paid</span>
                <% if current_user.debts.find_by(event: @event).paid %>
                  <%= link_to image_tag("twitter-logo.png", class:'twitter-logo'), "http://twitter.com/home?status=#{tweet_handle_or_name(user)} has not paid for #{@event.title}", class:"btn btn-twitter"%>
                <% end %>
              <% end %>
            </td>
          <% else %>
            <td>
              <span class="btn btn-gap btn-warning yellow-button">Awaiting RSVP</span>
            </td>
          <% end %>
        <td><p class="render-stuff"><%= convert_to_pounds(@event.payment_amount) %></p></td>
      </tr>
    <% end %>
  </tbody>
</table>