 <h1>DASHBOARD</h1>
<hr>
<h2>Organising Events</h2>
<br>

<% if !@organising.nil? %>
  <ul class="events">
  <% @organising.each do |event| %>
    <li>
    <%= link_to event_path(event), class:"col-md-4 post" do %>
      <article class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'>
            <%= event.title %>
          <span>
            <h6>Deadline <%= event.deadline.strftime("%m/%d/%Y") %></h6>
          </span>
          </h3>
        </div>
        <div class='panel-body'>
          <%= event.description %><br><br>
          Participants: <%= event.users.count %>
          Invitees: <%= event.userinvitees.count %>
            <div class="progress ng-isolate-scope" animate="false" value="dynamic" type="success"><div class="progress-bar progress-bar-success" ng-class="type &amp;&amp; 'progress-bar-' + type" ng-transclude="" style="transition: none; -webkit-transition: none; width: <%= event.percentage_of_paid %>%;">
            <b class="ng-scope ng-binding">
            <% if event.users.size > 0 %>
              <%= event.debts.where(paid: true).size %>/<%= event.userinvitees.count %> paid
            <% end %>
            </b>
            </div>
          </div>
        </div>
      </article>
    <% end %>
    </li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'New Event', new_event_path, class:'btn btn-default btn-lg col-md-12 post' %>

<div class="col-md-12 post">
<h2>Participating in Events</h2>
<% if !@participating.nil? %>
  <ul>
  <% @participating.each do |event| %>
    <li>
      <%= link_to "#{event.title}", event_path(event) %>
      <%= event.description %>
      <%= event.deadline %>
    </li>

    Total: <%= event.total.to_s %>
    Anger Level: <%= event.angerlevel %>

  <% end %>
  </ul>
<% end %>
</div>