<h1>DASHBOARD</h1>

<h2>Organising Events</h2>

<% if !@organising.nil? %>
  <ul>
  <% @organising.each do |event| %>
    <li> <%= link_to "#{event.title}", event_path(event) %> <%= event.deadline.to_date %> </li>
  <% end %>
  </ul>
<% end %>

<%= link_to 'New Event', new_event_path %>


<h2>Participating in Events</h2>
<% if !@participating.nil? %>
  <ul>
  <% @participating.each do |event| %>
    <li>
      <%= event.title %>
      <%= event.description %>
      <%= event.deadline %>
    </li>

    Total: <%= event.total.to_s %>
    Anger Level: <%= event.angerlevel %>

  <% end %>
  </ul>
<% end %>