<ul>
<% @events.each do |event| %>
	<li>
    <%= event.title %><br>
    <%= event.description %>
    Event created for <%= event.deadline %>
  </li>
  <li>
    Total: <%= event.total.to_s %>
    Anger Level: <%= event.angerlevel %>
  </li>
<% end %>
</ul>
