<ul>
<% @events.each do |event| %>
	<li>
    <%= event.title %><br>
    <%= event.description %>
    Event created for <%= event.deadline %>
  </li>
  <li>
    Total: <%= event.total.to_s %>
    Anger Level: <%= event.angerlevel %>
  </li>
  <% @userinvitees.each do |userinvitee| %>
  	<%= userinvitee.name %>
  	<%= userinvitee.email %>
  	<%= userinvitee.mobile %>
  <% end %>
<% end %>
</ul>

<%= link_to 'Create Event', new_event_path %> 
