<div class="panel panel-default">
<div class="panel-heading">
Create your event
</div>
<div class="panel-body form-horizontal ng-pristine ng-valid">
<%= form_for @event do |f| %>
  <p class="form-group">
  <%= f.label :title, class: "col-sm-1" %>
  <%= f.text_field :title, class: "col-sm-2 form-control" %>
  </p>

  <p class="form-group">
  <%= f.label :description, class: "col-sm-1" %>
  <%= f.text_area :description, class: "col-sm-2 form-control" %>
  </p>

  <p class="form-group">
  <%= f.label :deadline, class: "col-sm-1" %>
  <%= f.date_field :deadline, placeholder: 'yyyy/mm/dd', class: "col-sm-4 form-control input-group ui-datepicker" %>
  </p>

  <p class="form-group">
  <%= f.label :angerlevel, "Anger level", class: "col-sm-1" %>
  <%= f.select(:angerlevel, ['polite','angry','very angry'] ) %>
  </p>

  <p class="form-group">
  <%= f.label :total, class: "col-sm-1" %>
  <%= f.number_field :total, class: "col-sm-2 form-control" %>
  </p>


  <p class="form-group">
    Add friends, when finished click create event:
    <button type='button' class='add_userinvitee'>Add Friend</button> 
  </p>

  <ol class='userinvitees_list'>
    <li >
      <%= f.fields_for :userinvitees, class: "userinvitees" do |x| %>
          
          <%= x.text_field :email, placeholder: 'Email', required: true %>
          <%= x.text_field :name, placeholder: 'Name' %>        
          <%= x.text_field :mobile, placeholder: 'Mobile' %>

      <% end %> 
        <button type='button' class='delete_userinvitee'>&#10006;</button>
    </li>
  </ol>

  <p>
	<%= f.submit 'Create Event' %>
  </p>
<% end %>

<%= form_for @event do |f| %>
  <template id='userinvitee_fields'>
    <%= f.fields_for :userinvitees, class:"userinvitees" do |x| %>

            <%= x.text_field :email, placeholder: 'Email', name: 'event[userinvitees_attributes][{{ index }}][email]' %>
            <%= x.text_field :name, placeholder: 'Name', name: 'event[userinvitees_attributes][{{ index }}][name]' %>        
            <%= x.text_field :mobile, placeholder: 'Mobile', name: 'event[userinvitees_attributes][{{ index }}][mobile]' %>

    <% end %> 
      <button type='button' class='delete_userinvitee'>&#10006;</button>
  </template>
<% end %>
</div>
</div>