
<div class="container row">
    <div class"title-container col-xs-12">
      <div class='row'>
        <h3 class="event-title column col-xs-4 col-xs-offset-4"><%= @event.title %></h3>
        <h3 class="event-timer column col-xs-4"><%= @event.deadline.strftime("%d-%m-%y") %> </h3>
      </div>
    </div>
  <% if @event.debts.any? %>
    <div class"user-container row">
      <table class="responsive table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @paid.each do |debt| %>
            <tr>
              <th> <%= debt.user.name %></th>
              <td> | ✓ | </td>
              <td><%= debt.payment_amount %></td>
            </tr>
          <% end %>
          <% @unpaid.each do |debt| %>
            <tr>
              <th><%= debt.user.name %></th>
              <th>
                | ✗ |
                <% if current_user == debt.event.organiser %>
                  <%= link_to 'Paid', payments_path(debt.user_id, debt.event_id,), method: :post %>
                <% else %>
                  <%= link_to 'PAY NOW!', new_charges_path(debt.user_id, debt.event_id,) %>
                <% end %>
              </th>
              <th> <%= debt.payment_amount %> </th>
              
            </tr>
          <% end %>
          <% @event.userinvitees.each do |invitee| %>
            <tr>
              <th> <%= invitee.name %></th>
              <td> not accepted </td>
              <td><%= @event.payment_amount %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% elsif @event.userinvitees.any? %>
    <div class"user-container row">
      <table class="responsive table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody>
          <% @event.userinvitees.each do |invitee| %>
          <tr>
            <th> <%= invitee.name %></th>
            <td> not accepted </td>
            <td><%= @event.payment_amount %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  <% else %>
    <h3>No payments for this event!</h3>
  <% end %>
</div>