<div class="container">
    <div class"title-container">
      <h3 class="event-title "><%= @event.title %></h3>
      <%if current_user == @event.organiser %>
      <%= link_to "Delete Event", event_path(@event), method: :delete, data: { :confirm => "confirm"}  %>
      <% end %>
      <h3 class="event-timer "><%= @event.deadline.strftime("%d-%m-%y") %> </h3>
    </div>
    <% if user_tabulator(@event, current_user).any? || invitee_tabulator(@event).any? %>
      <div class"user-container">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Status</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <% user_tabulator(@event, current_user).each do |user| %>
              <tr>
                <td> <%= user.name %></td>
                  <% if user.debts.find_by(event: @event).paid %>
                    <td><span class="btn btn-gap btn-success">Paid</span> </td>
                  <% else %>
                    <td>
                      <% if current_user == @event.organiser %>
                        <%= link_to 'Mark as paid', payments_path(user.id, @event.id), method: :post, class:"btn btn-gap btn-danger" %>
                      <% elsif current_user == user %>
                        <%= form_tag charges_path(@user, @event) do %>
                          <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                data-key="<%= Rails.application.secrets.stripe_public_key %>"
                                data-description="What I owe"
                                data-amount="<%= @payment_amount %>"></script>
                        <% end %>
                      <% else %>
                        <span class="btn btn-gap btn-danger label-button">Not paid</span>
                      <% end %>
                    </td>
                  <% end %>
                <td><%= @event.payment_amount %></td>
              </tr>
            <% end %>
            <% invitee_tabulator(@event).each do |invitee| %>
              <tr>
                <td> <%= invitee.name %></td>
                <td>
                  <% if current_user == @event.organiser %>
                    <%= link_to "Edit", edit_event_userinvitee_path(@event, invitee.id), class: "btn btn-gap btn-success edit-btn", data: { toggle: 'modal', target: "#myModall" } %>
                    <% else %>
                      <span class="btn btn-gap btn-warning">Awaiting RSVP</span>
                  <% end %>
                </td>
                <td><%= @event.payment_amount %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    <% else %>
      <h3>Dancing by yourself? No invitees to this party!</h3>
    <% end %>
</div>


<div class="modal fade" id="myModall" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>