<% if @event.debts.any? %>

	<div class="container row">
    <div class"title-container col-xs-12">
      <div class='row'>
      	<h3 class="event-title column col-xs-4 col-xs-offset-4"><%= @event.title %></h3>
        <h3 class="event-timer column col-xs-4"><%= @event.deadline.strftime("%d-%m-%y") %> </h3>
      </div>
    </div>
    <div class"user-container row">
    	<table class="responsive table table-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Status</th>
                    <th>Amount</th>
                </tr>
            </thead> 
            <tbody>
                <% @paid.each do |debt| %>
    	  			<tr>
    	  			<th> <%= debt.user.name %></th>
    	  			<td> | ✓ | </td>
    	  			<td><%= debt.payment_amount %></td>
    			  	</tr>
    			  <% end %>
            <% @unpaid.each do |debt| %>
              <tr>
              <th> <%= debt.user.name %></th>
              <td> | ✓ | </td>
              <td><%= debt.payment_amount %></td>
              </tr>
            <% end %>
            </tbody>
    	</table>

    	
    	<!-- <table class="responsive table table-striped">
    	    <thead>
    	        <tr>
    	            <th>Email</th>
    	            <th>Status</th>
    	            <th>Amount</th>
    	            <th>Paid?</th>
    	        </tr>
    	    </thead>
    	    <tbody>
    	        	<% @unpaid.each do |debt| %>
    				  	<tr>
    				  	<th><%= debt.user.name %></th>
    				  	<th> | ✗ |</th>
    				  	<th> <%= debt.payment_amount %> </th>
    				  	<% if current_user == debt.event.organiser %>
    				  	  <th><%= link_to 'Paid', payments_path(debt.user_id, debt.event_id,), method: :post %></th>
    				  	<% else %>
    				  	  <th><%= link_to 'PAY NOW!', new_charges_path(debt.user_id, debt.event_id,) %></th>
    				  	<% end %>
    				  	</tr>
    				<% end %>
    	    </tbody>
    	</table> -->
    </div>
  </div>
<% else %>

	<h3>No payments for this event!</h3>

<% end %>