<div class="container">
    <div class"title-container">
      <h3 class="event-title "><%= @event.title %></h3>
      <%= link_to "", "#", data: { toggle: 'modal', target: "#eventDescription" }, class:"glyphicon glyphicon-info-sign" %>
      <h3 class="event-timer "><%= @event.deadline.strftime("%d-%m-%y") %> </h3>
      <div class="delete-event">
        <% if current_user == @event.organiser %>
          <%= link_to "Delete Event", event_path(@event), method: :delete, data: { :confirm => "confirm"}, class:"label label-danger" %></div>
        <% end %>
      </div>
    <% if tabulator(@event, current_user).any? %>
      <div class"user-container">
        <% if current_user == @event.organiser %>
          <%= render "events/organiser_show" %>
        <% else %>
          <%= render "events/participant_show" %>
        <% end %>
      </div>
    <% else %>
      <h3>Dancing by yourself? No invitees to this party!</h3>
    <% end %>
</div>


<div class="modal fade" id="editInviteeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">

    </div>
  </div>
</div>

<div class="modal fade" id="eventDescription" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
          <h3><%= @event.title %></h3>
        </div>
        <div class="modal-body">
          <%= @event.description %>
        </div>
    </div>
  </div>
</div>