<div class="about-page ">
  <div class="team">
    <h1 class="angry-team">The Angry-Kitty team.</h1>
  </div>
</div>

<section class="user-profile wrapper">
  <div class="scott">
    <a href="https://github.com/Scott123454" target="blank"> <%= image_tag '6850045.png', class: "placeholder" %> </a>
    <p>
      The main man – Scott came up with the idea for the app and gives a hell of a pitch. Apart from being a fun loving guy he knows his way around fixing a pipe burst and can always be recognized by his signature style short pants and T-Shirt. A newly added feature considering we´re talking about a man who has been wearing a suit for most of his career before becoming a developer.
   </p>
   <p class="social-links">
      <a href="https://github.com/Scott123454" target="_blank"><%= image_tag 'github.png', class: "github-glyph" %>github</a>
      <a href="mailto:scott123454@hotmail.co.uk"><%= image_tag 'mail.png', class: "twitter-glyph" %>mail</a>
   </p>
  </div>

  <div class="scott">
    <a href="https://github.com/NicoSa target="blank""><%= image_tag 'Placeholder.jpg', class: "placeholder" %></a>
    <p>

   </p><p class="social-links">
      <a href="http://www.github.com/apostoiis" target="_blank"><%= image_tag 'github.png', class: "github-glyph" %>github</a>
      <a href="http://www.twitter.com/apostoiis"><%= image_tag 'twitter.png', class: "twitter-glyph" %>twitter</a>
      <a href=""><%= image_tag 'mail.png', class: "twitter-glyph" %>mail</a>
   </p>
  </div>

  <div class="scott">
    <a href="https://github.com/apostoiis" target="blank"><%= image_tag 'Placeholder.jpg', class: "placeholder" %></a>
    <p>

   </p>
   <p class="social-links">
      <a href="http://www.github.com/anitacanita" target="_blank"><%= image_tag 'github.png', class: "github-glyph" %>github</a>
      <a href="http://www.twitter.com/nicolrnscodin"><%= image_tag 'twitter.png', class: "twitter-glyph" %>twitter</a>
      <a href="http://www.twitter.com/nicolrnscodin"><%= image_tag 'mail.png', class: "twitter-glyph" %>mail</a>
   </p>
  </div>

  <div class="scott">
    <a href="https://github.com/willhall88" target="blank"><%= image_tag 'Placeholder.jpg', class: "placeholder" %></a>
    <p>
      An accomplished graduate from Durham University, Will attended Makers Academy in order to expand his skills and his knowledge
      in software development. You'll find him most of the times sitting in front of his laptop coding or riding his bike. Whichever
      is the case may be, he can do it for hours. Loves yoga, food (huge amounts of protein daily) and all things technology. Nominee for person who makes everything look easy award.
   </p>
   <p class="social-links">
      <a href="http://www.github.com/willhall88" target="_blank"><%= image_tag 'github.png', class: "github-glyph" %>github</a>
      <a href="https://twitter.com/WillHall_Dev"><%= image_tag 'twitter.png', class: "twitter-glyph" %>twitter</a>
      <a href="http://www.twitter.com/nicolrnscodin"><%= image_tag 'mail.png', class: "twitter-glyph" %>mail</a>
   </p>
  </div>

  <div class="scott">
    <a href="https://github.com/sroop target="blank""><%= image_tag 'Placeholder.jpg', class: "placeholder" %></a>
    <p>
      Having been raised in Jamaica, he´s the Ginger beer connoisseur of the group. There has to be one right? His background in finance is exemplified by his mild Pret A Manger addiction as well as his haircut - chin-length, back-combed. Apart from being a super chill and companionable guy Robin has discovered his passion for coding in the course: “I fucking love it!”.
   </p>
   <p class="social-links">
      <a href="http://www.github.com/anitacanita" target="_blank"><%= image_tag 'github.png', class: "github-glyph" %>github</a>
      <a href="http://www.twitter.com/nicolrnscodin"><%= image_tag 'twitter.png', class: "twitter-glyph" %>twitter</a>
      <a href="http://www.twitter.com/nicolrnscodin"><%= image_tag 'mail.png', class: "twitter-glyph" %>mail</a>
   </p>
  </div>

  <div class="scott">
    <a href="https://github.com/danldb target="blank""><%= image_tag 'Placeholder.jpg', class: "placeholder" %></a>
    <p>
      Sroop is a knockabout funster who loves to code.  She can do lots of different impressions and  often will just break into a random voices whilst coding the next cucumber test.  In a past life Sroop was a web designer and was the creative mind behind our Angry Kitty logo.
   </p>
   <p class="social-links">
      <a href="http://www.github.com/sroop" target="_blank"><%= image_tag 'github.png', class: "github-glyph" %>github</a>
      <a href="http://www.twitter.com/sroopsunar"><%= image_tag 'twitter.png', class: "twitter-glyph" %>twitter</a>
      <a href="http://www.twitter.com/nicolrnscodin"><%= image_tag 'mail.png', class: "twitter-glyph" %>mail</a>
   </p>
  </div>

  <div class="scott">
    <a href="https://github.com/robindoble target="blank""><%= image_tag 'Placeholder.jpg', class: "placeholder" %></a>
    <p>
      Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
      Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet Lorem ipsum dolor sit amet
   </p>
   <p class="social-links">
      <a href="http://www.github.com/anitacanita" target="_blank"><%= image_tag 'github.png', class: "github-glyph" %>github</a>
      <a href="http://www.twitter.com/nicolrnscodin"><%= image_tag 'twitter.png', class: "twitter-glyph" %>twitter</a>
      <a href="http://www.twitter.com/nicolrnscodin"><%= image_tag 'mail.png', class: "twitter-glyph" %>mail</a>
   </p>
  </div>
</section>