<div class="about-page">
  <div class="team">
    <!-- <h1 class="angry-team">The Angry-Kitty team.</h1> -->
  </div>
</div>

<section class="user-profile wrapper">
  <div class="scott">
    <a href="https://github.com/Scott123454" target="blank"> <%= image_tag 'scott_s.jpg', class: "placeholder" %> </a>

    <p>
      The main man – Scott came up with the idea for the app and gives a hell of a pitch. Apart from being a fun loving guy he knows his way around fixing a pipe burst and can always be recognized by his signature style short pants and T-Shirt. A newly added feature considering we´re talking about a man who has been wearing a suit for most of his career before becoming a developer.
   </p>
   <p class="social-links">
      <a href="http://www.github.com/scott123454" target="_blank"><%= image_tag 'github.png', class: "github-glyph" %>github</a>
      <a href="mailto:scott123454@hotmail.co.uk" target="_blank"><%= image_tag 'mail.png', class: "twitter-glyph" %>mail</a>
   </p>
  </div>

  <div class="scott">
    <a href="https://github.com/NicoSa target="blank""><%= image_tag 'nico4_s.jpg', class: "placeholder" %></a>
    <p>
      Nico's German heritage adds the stereotypical efficiency and structure to the group, but with a twist. He often keeps the group morale up by singing and using interpretive dance to explain our problems. If he's not talking about the project then he's talking about the awesome food he's just had for lunch. His catchphrase when things are going badly: "At least the Lilt is good."
   </p><p class="social-links">
      <a href="http://www.github.com/anitacanita" target="_blank"><%= image_tag 'github.png', class: "github-glyph" %>github</a>
      <a href="http://www.twitter.com/nicolrnscodin" target="_blank"><%= image_tag 'twitter.png', class: "twitter-glyph" %>twitter</a>
      <a href="http://www.twitter.com/nicolrnscodin" target="_blank"><%= image_tag 'mail.png', class: "twitter-glyph" %>mail</a>
   </p>
  </div>

  <div class="scott">
    <a href="https://github.com/apostoiis" target="blank"><%= image_tag 'apo3_s.jpg', class: "placeholder" %></a>
    <p>
      Apo possesses a rare talent to be able to seamlessly move between front and back end developing. Nobody really knows how to spell his name, but everyone likes to pair with him. He is not to be trusted with orange juice.
   </p>
   <p class="social-links">
      <a href="http://www.github.com/anitacanita" target="_blank"><%= image_tag 'github.png', class: "github-glyph" %>github</a>
      <a href="http://www.twitter.com/nicolrnscodin" target="_blank"><%= image_tag 'twitter.png', class: "twitter-glyph" %>twitter</a>
      <a href="http://www.twitter.com/nicolrnscodin" target="_blank"><%= image_tag 'mail.png', class: "twitter-glyph" %>mail</a>
   </p>
  </div>

  <div class="scott">
    <a href="https://github.com/willhall88" target="blank"><%= image_tag 'will4_s.jpg', class: "placeholder" %></a>
    <p>
      An accomplished graduate from Durham University, Will attended MA in order to expand his skills and gain more experience in
      software development. You'll find him most of the times in front of his laptop coding or riding his bike out in the wild. Whichever is
      the case, he can do it for hours! Loves yoga, food (huge amounts of protein daily) and all things technology. Nominee for the person who
      makes everything looks easy award.
   </p>
   <p class="social-links">
      <a href="http://www.github.com/willhall88" target="_blank"><%= image_tag 'github.png', class: "github-glyph" %>github</a>
      <a href="https://twitter.com/WillHall_Dev" target="_blank"><%= image_tag 'twitter.png', class: "twitter-glyph" %>twitter</a>
      <a href="mailto:willhall88@hotmail.com" target="_blank"><%= image_tag 'mail.png', class: "twitter-glyph" %>mail</a>
   </p>
  </div>

  <div class="scott">
    <a href="https://github.com/sroop target="blank""><%= image_tag 'sroop3_s.jpg', class: "placeholder" %></a>
    <p>
      Sroop is a knockabout funster who loves to code.  She can do lots of different impressions and  often will just break into a random voices whilst coding the next cucumber test.  In a past life Sroop was a web designer and was the creative mind behind our Angry Kitty logo.
   </p>
   <p class="social-links">
      <a href="http://www.github.com/sroop" target="_blank"><%= image_tag 'github.png', class: "github-glyph" %>github</a>
      <a href="https://twitter.com/sroopsunar" target="_blank"><%= image_tag 'twitter.png', class: "twitter-glyph" %>twitter</a>
      <a href="http://www.twitter.com/nicolrnscodin" target="_blank"><%= image_tag 'mail.png', class: "twitter-glyph" %>mail</a>
   </p>
  </div>

  <div class="scott">
    <a href="https://github.com/danldb target="blank""><%= image_tag 'dan2_s.jpg', class: "placeholder" %></a>
    <p>
      Dan comes from a background in the Travel Industry. For the majority of his working life, he has been travelling the world. He joined Makers Academy looking to finally leave behind his wild days on the road and to ground himself with something more fulfilling. Turns out he is an incredibly sharp minded Rubyist. Talk to him about recursion…
   </p>
   <p class="social-links">
      <a href="http://www.github.com/anitacanita" target="_blank"><%= image_tag 'github.png', class: "github-glyph" %>github</a>
      <a href="http://www.twitter.com/nicolrnscodin" target="_blank"><%= image_tag 'twitter.png', class: "twitter-glyph" %>twitter</a>
      <a href="http://www.twitter.com/nicolrnscodin" target="_blank"><%= image_tag 'mail.png', class: "twitter-glyph" %>mail</a>
   </p>
  </div>

  <div class="scott">
    <a href="https://github.com/robindoble target="blank""><%= image_tag 'robin_s.jpg', class: "placeholder" %></a>
    <p>
      Having been raised in Jamaica, he´s the Ginger beer connoisseur of the group. There has to be one right? His background in finance is exemplified by his mild Pret A Manger addiction as well as his haircut - chin-length, back-combed. Apart from being a super chill and companionable guy Robin has discovered his passion for coding in the course: “I fucking love it!”.
   </p>
   <p class="social-links">
      <a href="http://www.github.com/anitacanita" target="_blank"><%= image_tag 'github.png', class: "github-glyph" %>github</a>
      <a href="http://www.twitter.com/nicolrnscodin" target="_blank"><%= image_tag 'twitter.png', class: "twitter-glyph" %>twitter</a>
      <a href="http://www.twitter.com/nicolrnscodin" target="_blank"><%= image_tag 'mail.png', class: "twitter-glyph" %>mail</a>
   </p>
  </div>
</section>