<section data-ng-include=" 'views/header.html' " id="header" class="top-header ng-scope">
  <header class="clearfix ng-scope">
    <div class="logo">
      <a href="/events" class="title-logo"><%= image_tag("angry-kitty-title.png", class: "angry-title") %></a>
    </div>
    <div class="top-nav">
      <% if user_signed_in? %>
        <%= image_tag("angry-kitty-logo.png", class: "kitty-logo mini-logo") %>
      <% end %>
      <ul class="nav-right pull-right list-unstyled">
        <li class="dropdown langs text-normal" data-ng-controller="LangCtrl">
          <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-flash"></span>
          </a>
        <ul class="dropdown-menu with-arrow pull-right list-langs" role="menu">

          <li class="drop-down-menu-header">
            <% if user_signed_in? %>
              <%= link_to('Dashboard', events_path, class: "white-text-please") %>
          </li>

          <li class="drop-down-menu-header">
              <%= link_to('Edit registration', edit_user_registration_path, class: "white-text-please") %>
          </li>
          
          <li class="drop-down-menu-header">
              <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "white-text-please") %>
          </li>


          <li class="drop-down-menu-header">
              <% else %>
              <%= link_to('Sign in', new_user_session_path, class: "white-text-please") %>
          </li>
                
          <li class="drop-down-menu-header">
               <%= link_to('Sign up', new_user_registration_path, class: "white-text-please") %>
            <% end %>
          </li>

        </ul>
        </li>
      </ul>  
    </div>
  </header>
</section>


  